@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

// Define defaults for each variable.

$def_font_fam: 'Space Mono', -apple-system, BlinkMacSystemFont, Roboto, mono, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$def_font_size:   14pt !default;
$regular: 300 !default;
$bold: 500 !default;
$small_font_size:  10pt !default;
$def_line_height: 1.4 !default;

$spacing_unit:     16pt !default;

$def_color:       #000;
$contrast_color:  #fff;

$bg: #fff !default;
$component_bg: #000;
$component_bg_light: lighten($component_bg, 22%) !default;
$component_bg_dark:  darken($component_bg, 25%) !default;

$align: left !default;

// Width of the content area
$content_width:    80vw !default;
$content_max_width:    660px !default;

$on_palm:          80vw  !default;
$on_laptop:        80vw  !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $def_font_size * $ratio;
}

// Import partials.
@import
  "theme/base",
  "theme/layout",
  "theme/syntax-highlighting"
;
